####################################################
# ROOT GITIGNORE
####################################################

###############
# Java
###############
**/target/
**/build/
**/bin/
**/out/

*.class
*.jar
*.war
*.ear

###############
# Node
###############
**/node_modules/
**/dist/

###############
# Uploads
###############
backend/bus-booking-backend/uploads/

###############
# Environment
###############
.env
.env.*
!.env.example

###############
# Logs
###############
logs/
*.log

###############
# IDE
###############
.vscode/
.idea/

###############
# Eclipse / STS
###############
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache

###############
# OS
###############
.DS_Store
Thumbs.db

###############
# Cache
###############
.cache/
.parcel-cache/
.vite/
coverage/
tmp/
temp/