

body {
  font-family: "Segoe UI", sans-serif;
}

.customer-bg {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #e2aeae,
    #aac4cf,
    #defa78
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.travelx-dashboard {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #f8fafc,
    #eef2ff,
    #ffffff
  );
}

.welcome-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.search-card {
  background: linear-gradient(
    90deg,
    #f97316,
    #c9d859
  );

  color: white;
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 25px rgba(249,115,22,0.3);
}

.feature-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  height: 100%;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.upcoming-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.form-control,
.form-select {
  border-radius: 12px;
  padding: 10px;
}

.travelx-btn {
  background: linear-gradient(
    90deg,
    #0284c7,
    #0ea5e9
  );
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: white;
  font-weight: 600;
}

.travelx-btn:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}

.glass-card {
  background: rgba(255,255,255,0.95);
  border-radius: 25px;
  padding: 35px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.travelx-title {
  color: #0284c7;
  font-weight: bold;
}

.travelx-btn {
  background: linear-gradient(
    90deg,
    #0ec836
  
  );
  border: none;
  color: white;
  font-weight: 600;
}

.travelx-btn:hover {
  opacity: 0.9;
}

.search-form-card {
  background: white;
  border-radius: 25px;
  padding: 40px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.search-btn {
  background: linear-gradient(
    90deg,
    #16f91a,
    #25c848
  );

  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 12px;
  font-weight: 600;
}

.search-btn:hover {
  color: white;
  transform: translateY(-2px);
}